.picture {
    background-image: url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png);
    background-size: 1200px;
    width: auto;
    height: 370px;
    background-position: center;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-style: bold;
}

main {
    width: 700px;
    margin-left: auto;
    margin-right: auto;  
    line-height: 25px;
}

h2 {
    font-size: 45px;
    color: #222;
    margin: 0px;
}
h1 {
    font-size: 70px;
    color: #222;
    margin: 0px;
}

.first {
    font-size: 20px;
}

.strong {
    text-transform: capitalize;
    font-size: 23px;
    margin-bottom: 0px;
    margin-top: 50px;
}

p, li, h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #222;
}

blockquote {
    background: #343434;
    font-weight:bold;
    color: white;
    display: flex;
    align-items: center;
    line-height: 70px;
    font-size: 52px;
    margin-left: -20px;
    margin-right: -10px;
    height: 180px;
    position: relative;
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 80px;
    font-family: 'Abril Fatface', cursive;
}

blockquote::before {
    content: "\201C";
    padding: 0px;
    display: block;
    position: absolute;
    top: 25px;
    left: 0px;
    font-size: 140px;
}

h3 {
    text-transform: uppercase;
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 12px;
    margin-top: 0px;
}

hr {
    height: 3px;
    width:auto; 
    background-color: black;
    text-align:center; 
    margin: auto;
}